.blogcontent, .blogcontent pre{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-family: 'Lora', serif;
}

.blogcontent blockquote {
    box-shadow: rgb(41 41 41) 3px 0px 0px 0px inset;
    padding-left: 20px;
}

.blogcontent pre {
    padding: 15px 20px;
    background: rgba(242, 242, 242, 1);
}

.blogcontent a {
    text-decoration: underline;
}

.blogcontent p {
    font-size: 1rem;
}

.blogcontent h1 {
    font-size: 1.6rem;
    font-weight: 800;
}

.blogcontent h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

.blogcontent h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

.blogcontent h4 {
    font-size: 1.3rem;
    font-weight: 800;
}

.blogcontent h5 {
    font-size: 1.2rem;
    font-weight: 800;
}

.blogcontent img {
    width: 100%;
}

.blogcontent figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blogcontent figcaption {
    font-size: 0.8rem;
    text-align: center;
}

.blogcontent-iframe {
}

.blogcontent--footer {
    display: flex;
    direction: column;
    font-size: 0.7rem;
}

.blogcontent--footer-right {
    flex: 0.3;
    margin-left: auto;
    text-align: end;
}

.blogcontent--footer-left {
    flex: 0.3;
}

.blogcontent--iframe-container iframe {
    width: 100%;
    line-height: 0;
    /* padding: 30px 0; */
}