.blogcard {
    margin: 0.8rem 0;
}

.blogcard--container {
    display: flex;
}

.blogcard--subject {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 5;
}

.blogcard--subject-title {
    font-size: 0.9rem;
    flex-wrap: wrap;
}

.blogcard--subject-desc {
    font-size: 0.6rem;
    flex-wrap: wrap;
}

.blogcard--subject-pubdate {
    font-size: 0.6rem;
    margin-top: auto;
    /* font-weight: 200; */
    /* font-family: 'Lora', serif; */
}

.blogcard--image {
    margin-left: 1rem;
    flex: 1;
    display: flex;
    justify-content: center;
}

.blogcard--image img {
    width: 150px;
    height: 150px;
    border-radius: 0.25rem;
}

.blogcard a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

@media all and (max-width: 727px) {
    .blogcard--subject-desc {
        display: none;
    }

    .blogcard--image img {
        width: 70px;
        height: 70px;
    }
}