.cataloguecard {
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow: auto;
    font-size: 0.9rem;
    font-family: 'Lora', serif;
    align-items: flex-start;
}

.cataloguecard a {
    text-align: left;
    margin: 3px 0;
}

.cataloguecard a:hover {
    font-weight: bolder;
}