.navmenu{
    display: none;
}

.navmenu-icon {
    margin: 1.3rem;
}

.navmenu--right {
    margin-left: auto;
}

.navmenu--right .icon {
    margin: 1.3rem;
}

@media all and (max-width: 1080px) {
    .navmenu {
        display: flex;
        /* background-color: var(--twitter-background); */
        background-color: rgb(54, 57, 63);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}