.widgets {
    display: flex;
    min-width: 280px;
    flex-direction: column;
    flex: 0.25;
    overflow-y: scroll;
    flex-basis: 25%;
    padding-top: 20px;
}
.widgets::-webkit-scrollbar {
    display: none;
}
.widgets--widgetContainer {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    /* background-color: #f5f8fa; */
    border-radius: 20px;
}
.widgets--widgetContainer h2 {
    font-size: 18px;
    font-weight: 700;
}

.widgets--footer {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.quote {
    margin-right: 20px;
}

.quote p {
    font-size: 0.7rem;
    margin-bottom: 5px;
}

.head {
    align-self: flex-end;
    margin-right: 10px;
}
.icon:hover {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAA…BeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC");
}
.icon {
    margin: 2px 0;
}

.xyz:hover {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAA…BeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC");

}

@media all and (max-width: 1080px) {
  .widgets {
      display: none;
  }
}