body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}

.app {
    display: flex;
    height: 100vh;
}

@media all and (max-width: 1080px) {
    .app{
        padding-top: 2.5rem;
    }
}

@media all and (max-width: 727px) {
    :root {
        font-size: 14px;
    }
}