html, body {
    height: 100%;
    /* cursor: auto; */
}

body {
    font-family: 'Press Start 2P', cursive;
}

/* div {
    border: 1px solid red;
} */

/* #root, .app-div, .row-div, .col-div {
    height: 100%
} */

